@charset "utf-8";
/* CSS Document */


html {
	overflow-y: scroll;
}
body {
	font-family: Microsoft JhengHei, \5FAE\8EDF\6B63\9ED1\9AD4, Arial;
	-webkit-text-size-adjust: 100%;
	background-color: #eee;
	padding-top: 38px;
	font-size: 12px;
}
table {
	width: 100%;
}
table tr {
	height: 32px;
}
table tr td {
}
table tr th a {
	color: #000;
}
a {
	color: #5897fb;
}
a:hover {
	color: #73bbde;
	text-decoration: underline;
}
h1 {
	font-size: 20px;
}
h2 {
	font-size: 18px;
}
h3 {
	font-size: 16px;
}
h4 {
	font-size: 14px;
}
h1, h2, h3, h4, h5, h6 {
	/* -webkit-margin-before: 0px; */
}
select {
	width: 100%;
	height: 32px;
}
blockquote {
	background-color: #eee;
	border-left: 5px solid #5897fb;
	font-size: 12px;
}
label.error {
	color: #ff0000;
	font-weight: 100;
	margin-bottom: 0px;
	font-size: 85%;
	width: 100%;
}
input[type="file"] {
	border-radius: 3px;
	border: 1px solid #ccc;
	padding: 5px 8px 5px 8px;
	width: 100%;
}
img {
	width: 100%;
	display: block;
}
textarea.form-control.alternate {
	font-size: 12px;
}

/*===============================================*/

/* general */
.corpcolor-font {
	color: #5897fb;
}
.corpcolor-bg {
	background-color: #5897fb;
	color: #fff;
}
.highlight {
	color: #ff0000;
}
.sql-success {
	color: green;
}
.sql-failed {
	color: red;
}
.chart-area {
	border: 1px solid #ccc;
	width: 100%;
	height: 200px;
}
.line-through {
	text-decoration: line-through;
}
.btn.dropdown-toggle {
	width: auto;
}
.dropdown-menu {
	min-width: 10px;
}
.pagination-area > a, .pagination-area > strong {
	margin: 0px 1px;
}
.table-hover > tbody > tr:hover {
	background-color: #d9edf7;
}

/*===============================================*/

/* login */
.btn.btn-login {
	/*width: auto;*/
}

/*===============================================*/

/* show myself */
.show-myself {
	position: absolute;
	top:40px;
	right:15px;
	z-index:1;
}

/*===============================================*/

/* header-area */
.header-area {
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	background: #333 url(../images/noise-bg.png);
	color: #fff;
	padding: 0px 15px 10px 15px;
	z-index: 10;
}
.header-area .shadow-area {
	position: absolute;
	bottom: -16px;
	left: 0px;
	right: 0px;
	height: 16px;
	background: url(../images/shadow.png) repeat-x;
	z-index: 1;
}
.header-area .menu-area {
	padding: 10px 0px;
	display: none;
}
.header-area h1 {
	position: absolute;
	bottom: -24px;
	left: 15px;
	padding: 3px 30px 3px 30px;
	cursor: pointer;
	margin: 0px;
	z-index: 2;
}
.header-area h3 {
	margin-top: 10px;
	margin-bottom: 3px;
}
.header-area ul li {
	color: #fff;
	/* line-height: 1.38; */
}
.header-area ul li a {
	color: #fff;
}
.header-area ul li a:hover {
	color: #73bbde;
	text-decoration: underline;
}

/*===============================================*/

/* index */
.bottom-buffer-10 {
	margin-bottom: 10px;
}
.dashboard-box-top {
	margin-bottom: 0px;
	background-color: #73bbde;
	color: #fff;
	padding: 10px 10px 20px 10px;
}
.dashboard-box-top .glyphicon {
	font-size: 68px;
}
.dashboard-box-top .summary {
	font-size: 28px;
}
.dashboard-box-bottom {
	background-color: #5897fb;
	padding: 5px 10px;
}

/*===============================================*/

/* content-area */
.content-area h2 {
	color: #000;
	font-weight: 700;
}
.content-area .content-column-area {
}
.fieldset {
	border: 1px solid #ccc;
	background-color: #fff;
	padding: 10px 15px;
}
.fieldset.left {
	margin-right: -8px;
}
.fieldset.right {
	margin-left: -8px;
}
.search-area {
}
.search-area table {
}
.search-area table td {
	padding: 4px 2px;
}
.search-area .row {
	margin-top: 5px;
}
.search-area .row:first-child {
	margin-top: 0px;
}

/* list-area */
.list-area {
	overflow-x: auto;
	-webkit-overflow-scrolling: touch;
}
.list-area.no-overflow-x {
	overflow-x: hidden;
}
.list-area table {
	border-collapse: separate;
}
.list-area table.list {
	min-width: 704px;
}
.list-area table tr {
	height: 32px;
}
.list-area table tr.list-row:hover td {
	background-color: #ddd;
}
.list-area table tr.list-summary:hover td {
}
.list-area table th {
	padding: 4px 2px;
	color: #000;
}
.list-area table tr.list-row td {
	background-color: #eee;
	padding: 4px 2px;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #dbdbdb;
}
.list-area table tr.list-summary td {
	background-color: #fff;
	padding: 4px 2px;
	border-top: 1px solid #fff;
}
.list-area .detail ul {
	margin: 8px 0px;
}

.list-detail {
	padding: 10px 2px;
	background-color: #c1d6ff;
	color: #5897fb;
	/*color:#d9d9d9;*/
	/*background-color:#e8e8e8;*/
	/*text-shadow:rgba(255,255,255,.1) -1px -1px 1px,rgba(0,0,0,.5) 1px 1px 1px;*/
}

/* grid-area */
.grid-area .container-fluid {
	margin-left: -15px;
	margin-right: -15px;
}
.grid-area .plus-btn {
	padding-right: 2px;
	margin-bottom: 8px;
}
.box-area {
	/*margin-bottom: 10px;*/
}
.box-bg {
	background-size: cover;
	border: 1px solid #ccc;
	margin-bottom: 10px;
	padding: 10px;
}
.box-bg .guide-photo {
	width: 100%;
	padding-bottom: 100%;
	background-size: cover;
	background-position: center center;
}
.upload-field-area i {
	cursor: pointer;
}
.upload-field-area .glyphicon-search {
	margin-top: 3px;
}
input[name="photos_remove[]"] {
	visibility: hidden;
}

/* page-area */
.page-area {
	margin: 8px 0px;
}
.page-area ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
}
.page-area ul li {
	margin-left: 10px;
	float: left;
}
.page-area ul li:first-child {
	margin-left: 0px;
}

/*===============================================*/

/* footer-area */
.footer-area {
	padding: 0px 15px;
}
.footer-area .container-fluid {
	margin: 30px 0px 30px 0px;
	padding-top: 10px;
	border-top: 8px solid #999;
}
.footer-area .row .col-xs-12 {
	padding: 0px;
}

/*===============================================*/




@media (max-width: 1279px) {
}

@media (max-width: 991px){

	/* for iPad / iPhone */
	select[multiple="multiple"] {
		width: 100%;
		height: 32px;
	}

	/* content-area */
	.fieldset.left {
		margin-right: 0px;
	}
	.fieldset.right {
		margin-top: 10px;
		margin-left: 0px;
	}

	/* fixed-menu-area */
	.menu-column-area:nth-child(3) {
		clear: both;
	}
}

@media (max-width: 767px) {
	form .pull-right {
		width: 100%;
	}
}

@media (max-width: 479px) {
}









