@charset "utf-8";
/* CSS Document */



		
/* login-area */
.login-area {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 518px;
	height: auto;
	margin-top: -150px;
	margin-left: -260px;
	border: 1px solid #ccc;
	background-color: #fff;
	padding-top: 30px;
}
.login-area h2 {
	margin-top: -18px;
}
.login-area h2 span {
	background-color: #fff;
}
.login-area .fieldset {
	height: 200px;
}
.login-area .fieldset.right {
	background-color: #5897fb;
	color: #fff;
}
.login-area table td {
	padding: 3px 0px;
}
.login-area .footer-area .container-fluid {
	margin-top: 15px;
	margin-bottom: 15px;
	text-align: center;
}

@media (max-width: 991px) {

	/* login-area */
	.login-area .fieldset.left {
		margin-right: -8px;
	}
	.login-area .fieldset.right {
		margin-top: 0px;
		margin-left: -8px;
	}
}

@media (max-width: 767px) {

	/* login-area */
	.login-area {
		width: 308px;
		height: auto;
		margin-top: -255px;
		margin-left: -155px;
	}
	.login-area .fieldset.left {
		margin-right: 0px;
	}
	.login-area .fieldset.right {
		margin-top: 10px;
		margin-left: 0px;
	}
}









